/* ---------------------------------------------------------------------------- */
/* --- 3. FOOTER
/* ----------------------------------------------------------------------------- */

	#footer {
		position: relative;
		padding: 60px 0 0;
		font-size: 12px;
	}