@charset 'UTF-8';

// Fonts 
$font-primary: "Raleway",Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat",Helvetica,Arial,sans-serif;

$headings-weight: 200;

// Colors:
$color-primary: #98b552;
$color-secondary: #3d3732; 

@import "_base";
