@charset 'UTF-8';

// Fonts 
$font-primary: "Open Sans",Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat",Helvetica,Arial,sans-serif;

// Colors:
$color-primary: #f1670b;
$color-secondary: #1f1f1f; 

@import "_base";
