@charset 'UTF-8';

// Fonts 
$font-primary: "Open Sans",Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat",Helvetica,Arial,sans-serif;

// Colors:
$color-primary: #2e9557;
$color-secondary: #3d4042; 

@import "_base";
