section {
    float: left;
    width: 100%;
    height: auto;
    clear: both;
    overflow: visible !important;
    padding: 30px 0px !important;
}

.image1 > .wrapper {
    float: left;
    width: 1000px;
    height: auto;
    margin-left: calc(50% - 500px);
}

.image1 > .wrapper > h1 {
    float: left;
    width: 100%;
    height: auto;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    color: #FFF;
    text-shadow: 0 0 10px rgba(61, 35, 35, 0.6);
}

.image1 > .wrapper > .description {
    float: left;
    width: 70%;
    height: auto;
    font-size: 24px;
    margin-top: 30px;
    margin-right: 30%;
    color: #FFF;
}

.image1 > .wrapper > a {
    float: left;
    width: 180px;
    padding: 15px 25px;
    margin-top: 24px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #FFF;
    background: #FFF;
    color: rgb(241, 103, 11);
    font-weight: 600;
    cursor: pointer;
}

.SearchBarTitle {
    float: left;
    width: 100%;
    height: auto;
    color: #f1670b;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.SearchWrapper {
    float: left;
    position: relative;
    width: 50%;
    margin: 15px 25%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.17);
}

#SearchBar {
    position: relative;
    float: left;
    width: calc(100% - 80px);
    height: auto;
    z-index: 2;
    margin: 0px;
    padding: 15px;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.SearchTrigger {
    position: relative;
    float: left;
    width: 80px;
    height: 49px;
    border: none;
    z-index: 2;
    border-radius: 0px;
    background: #f1670b;
    border-radius: 0px 4px 4px 0px;
}

.SearchTrigger > img {
    width: 28px;
    height: 28px;
}

.SearchWrapper > .results {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 271px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #CCC;
    padding: 0px;
    top: 49px;
    left: 0px;
    background: #FFF;
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.12);
}

.results > .result {
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    transition: background 0.15s ease-in-out;
}

.results > #NotFound {
    display: none;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0px;
}

.results > .result:hover {
    background: #F8F8F8;
}

.result > .CourseIMG {
    float: left;
    width: 96px;
    height: 64px;
    border-radius: 5px;
    background: #f1670b;
}

.result > .title {
    float: left;
    width: calc(100% - 120px);
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 18px;
}

.result > .description {
    float: left;
    width: calc(100% - 120px);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.CourseCategories > .title, 
.experience > .title {
    float: left;
    clear: both;
    width: 1000px;
    font-size: 28px;
    margin: 0px calc(50% - 500px);
    color: #f1670b;
    font-size: 34px;
    font-weight: 600;
}

.FlexWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    float: left;
    clear: both;
    width: 1000px;
    margin: 20px calc(50% - 500px);
    height: auto;
    margin-top: 30px !important;
}

.FlexWrapper > .card {
    position: relative;
    width: 320px;
    flex-basis: 320px;
    max-height: 430px;
    margin-bottom: 24px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.12);
    transition: all 0.13s ease-in-out;
    border-radius: 4px;
    overflow: hidden;
}

.FlexWrapper > .card:hover {
    box-shadow: 0 0 10px 2px rgba(241,103,11,0.4);
}

.CourseCategories .FlexWrapper > .card {
    height: 430px;
}

.FlexWrapper > .card > .beta {
    position: absolute;
    left: -21px;
    top: 5px;
    padding: 4px 24px;
    background:#FFF;
    color: rgb(241, 103, 11);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.06);
    transform: rotate(-45deg);
}

.FlexWrapper > .card > .CardImage {
    width: calc(100% + 40px);
    height: 180px;
    margin: -20px;
    margin-bottom: 0px;
    background-color: rgb(241, 103, 11);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cpvs {
	background-image: url(../img/photos/compvisio5.jpg);
}

.dplr {
	background-image: url(../img/photos/comewithme.jpg);
}

.dploy {
	background-image: url(../img/photos/deploy.jpg);
}

.FlexWrapper > .card > .CardTitle {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
}

.FlexWrapper > .card > .CardDescription {
    min-height: 100px;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

.experience {
    float: left;
    clear: both;
    width: 1000px;
    height: auto;
    margin: 0px calc(50% - 500px);
}

.experience > .FlexWrapper > .card,
.experience > .FlexWrapper > .card:hover {
    min-height: 220px;
    border-top: solid 3px #f1670b;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.12);
}

.experience > .description {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}

.experience > .FlexWrapper > .card > .CardTitle,
.experience > .FlexWrapper > .card > .CardDescription {
    text-align: center;
    margin-top: 10px;
}

.about-academy, .feedbacks {
    float: left;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-left: calc(50% - 500px);
}

.about-academy > .left,
.feedbacks > .left {
    position: relative;
    float: left;
    width: 50%;
    min-height: 240px;
}

.about-academy > .left > img {
    position: absolute;
    float: left;
    width: auto;
    max-width: none;
    height: 348px;
    left: -155px;
    top: -100px;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.about-academy > .left > .video {
    position: absolute;
    left: 28px;
    top: -43px;
    width: 390px;
    height: 230px;
    z-index: 2;
}

.about-academy > .right,
.feedbacks > .right {
    float: right;
    width: 48.5%;
}

.about-academy > .right > .title,
.feedbacks > .left > .title {
    float: left;
    clear: both;
    width: 100%;
    font-size: 32px;
    color: #f1670b;
    font-weight: 600;
}

.about-academy > .right > .description,
.feedbacks > .left > .description {
    font-size: 14px;
    color: #888;
}

.feedbacks {
    margin-top: 50px;
}

.feedbacks > .right {
    margin-top: -50px;
}

#feedback1 {
    float: left;
	width: 100%;
    height: auto;
	min-height: 210px;
    margin: 10px 0px;
    background: #FFF;
	border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.12);
}

#feedback1 > .picture {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin-left: 15px;
	margin-top: 15px;
}

#feedback1 > .FeedbackName {
	float: left;
	width: calc(100% - 120px);
	height: auto;
	clear: right;
	margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}

#feedback1 > .FeedbackPosition {
	float: left;
	width: calc(100% - 120px);
	height: auto;
	clear: right;
	margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
	font-size: 14px;
}

#feedback1 > .rating {
	float: left;
	width: calc(100% - 120px);
	height: auto;
	clear: right;
	margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
	font-size: 14px;
}

#feedback1 > .rating > svg {
	float: left;
	margin-right: -2px;
	fill: #AAA;
}

#feedback1 > .rt1 > svg:nth-child(1) {
	fill: #FA4616;
}

#feedback1 > .rt2 > svg:nth-child(-n+2) {
	fill: #FA4616;
}

#feedback1 > .rt3 > svg:nth-child(-n+3) {
	fill: #FA4616;
}

#feedback1 > .rt4 > svg:nth-child(-n+4) {
	fill: #FA4616;
}

#feedback1 > .rt5 > svg {
	fill: #FA4616;
}

#feedback1 > .FeedbackText {
	float: left;
	width: calc(100% - 50px);
	height: auto;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 14px;
}

.call-to-action-final {
    position: relative;
    float: left;
    width: 100%;
    height: 250px;
    padding: 50px 0px !important;
    background-color: rgb(241, 103, 11);
}

.call-to-action-final > .GIFBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.2;
    background-image: url(../img/video/gif-cta-academy.gif);
}

.call-to-action-final > .CTAData {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0px;
    z-index: 2;
}

.call-to-action-final > .CTAData > h2 {
    float: left;
    width: 100%;
    height: auto;
    color: #FFF;
    font-weight: 600;
    text-align: center;
}

.call-to-action-final > .CTAData > a > button {
    float: left;
    width: 170px;
    padding: 15px 25px;
    margin-top: 14px;
    margin-left: calc(50% - 185px);
    background: none;
    color: #FFF;
    border-radius: 30px;
    border: 2px solid #FFF;
}

.call-to-action-final > .CTAData > a > .main-action {
    background: #FFF;
    color: rgb(241, 103, 11);
    font-weight: 600;
}

.call-to-action-final > .CTAData > a > .other-action {
    margin-left: 30px;
}

/* -------------- */
/* RESPONSIVIDADE */
/* -------------- */
@media screen and (max-width: 1060px) {
    .image1 > .wrapper {
        float: left;
        width: 90%;
        height: auto;
        margin-left: 5%;
    }

    .SearchWrapper {
        width: 620px;
        margin: 15px calc(50% - 310px);
    }

    .FlexWrapper, 
    .CourseCategories > .title {
        width: 760px;
        margin: 20px calc(50% - 380px);
    }

    .FlexWrapper > .card {
        width: 240px;
        flex-basis: 240px;
    }

    .CourseCategories .FlexWrapper > .card {
        height: 390px;
    }

    .FlexWrapper > .card > .CardTitle {
        margin-top: 15px;
        font-size: 14px;
    }

    .FlexWrapper > .card > .CardDescription {
        font-size: 12px;
    }

    .experience > .title, 
	.experience > .description {
		width: 760px;
		margin-left: calc(50% - 380px);
    }
    
    .about-academy > .left, .about-academy > .right, 
    .feedbacks > .left, .feedbacks > .right {
        float: left;
        width: 760px;
        margin-left: calc(50% - 380px);
    }

    .about-academy > .left {
        height: 420px;
        margin: 20px 0px;
    }

    .about-academy > .left > img {
        display: none;
    }

    .about-academy > .left > .video {
        width: 100%;
        height: 420px;
        left: 0px;
    }
}

@media screen and (max-width: 819px) {
    .CourseCategories, .experience, .about-academy, .feedbacks {
        width: 90%;
        margin-left: 5%;
    }

    .FlexWrapper > .card {
        flex-basis: 32%;
    }

    .FlexWrapper, .CourseCategories > .title {
        width: 100%;
        margin: 20px 0%;
    }

    .CourseCategories > .FlexWrapper > .card {
        flex-basis: 100%;
        flex-direction: column;
    }

    .experience > .title, 
    .experience > .description,
    .about-academy > .right > .title, 
    .feedbacks > .left > .title,
    .about-academy > .right > .description, 
    .feedbacks > .left > .description {
        width: 100%;
        float: left;
		margin: 0px;
    }

    .about-academy > .left, .about-academy > .right, 
    .feedbacks > .left, .feedbacks > .right {
        width: 100%;
        min-height: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 640px) {
    .image1 > .wrapper > h1 {
        font-size: 32px;
        margin-top: 50px;
    }

    .image1 > .wrapper > .description {
        font-size: 16px;
    }

    .slider {
        height: calc(100vh - 168px);
        min-height: 500px;
    }
    
    .FlexWrapper > .card {
        flex-basis: 100%;
    }

    .call-to-action-final {
        height: 320px;
    }

    .call-to-action-final > .CTAData > h2 {
        font-size: 24px;
    }

    .call-to-action-final > .CTAData > a > button {
        float: left;
        width: 70%;
        margin: 20px 15% !important;
    }

    .call-to-action-final > .CTAData > a > .other-action {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 320px) {
    .navigation, .navigation:hover {
        background: none;
        opacity: 1;
        z-index: 10;
    }

    .CardSlider > .card {
        width: 96.5%;
    }

    .CardSlider > .card > .FeedbackText {
        margin-left: 28px;
    }
}