@keyframes inflate {
    0% {background-position: -120px center;}
    40% {background-position: -145px center;}
    80% {background-position: -130px center;}
    100% {background-position: -120px center;}
}

@keyframes inflate2 {
    0% {background-size: 100% auto}
    50% {background-size: 105% auto}
    100% {background-size: 100% auto}
}

.course-frame {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    min-height: 640px;
    padding: 50px 0px;
}

.course-frame > .left, .left-invert {
	float: left;
    width: 40%;
    height: auto;
	min-height: 580px;
	margin-left: 10%;
}

.course-frame > .left > p {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 200;
    color: #FFF;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.18);
}

.course-frame > .left > .title {
	margin-top: 20px;
    font-size: 90px;
    line-height: 85px;
}

.course-frame > .left > .subtitle {
	margin-top: 30px;
    font-size: 34px;
    line-height: 40px;
}

#newcourse0, #newcourse1, #newcourse2 {
    display: none;
}

.course-frame > .left > .description {
	margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
}

.course-frame > .left > .divider {
	float: left;
	clear: both;
	margin: 30px 0px;
	width: 64px;
	height: 2px;
	background: #FFF;
}

.course-frame > .left .apply {
	float: left;
	clear: both;
	color: #FFF;
	cursor: pointer;
	border: 2px solid #FFF;
	border-radius: 100px;
	background: transparent;
    padding: 15px 30px;
    transition: all 0.15s ease-in-out;
}

.course-frame > .left .apply:hover {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.2);
}

.course-frame > .right {
	float: right;
    width: 45%;
    height: auto;
	min-height: 580px;
    margin-right: 0%;
}

.comp-vis {
	background: linear-gradient(to bottom left, #c9e05c, #64a74a);
}

.computer-vision-bg {
    background: url(../img/photos/compvisio5.jpg);
    background-position: -120px center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: inflate;
    animation-iteration-count: infinite;
    animation-duration: 14s;
}

.deep-lea {
	background: linear-gradient(to bottom left, #da9947, #c2522a);
}

.deep-learning-bg {
    float: left !important;
    background: url(../img/photos/deepl.png);
    background-position: 120% center;
    background-size: contain;
    background-repeat: no-repeat;
}

.deploy {
	background: linear-gradient(to bottom left, #151e27, #0a0e13);
}

.deploy-bg {
    background: url(../img/photos/deploy.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: inflate2;
    animation-iteration-count: infinite;
    animation-duration: 14s;
}

.left-invert {
    float: right !important;
}

@media screen and (max-width: 1000px) {
    .course-frame > .left, 
    .left-invert, .course-frame > .right, 
    .deep-learning-bg {
        float: left !important;
        width: 80%;
        height: auto;
        min-height: 400px;
        margin: 0px 10%;
    }

    .course-frame > .right, .deep-learning-bg {
        width: 100%;
        margin: 0px;
    }
}