.menu-toggle {
	padding-left: 17px !important;
}

.the-logo {
	width: 100px;
	height: 50px;
	margin-top: 8px;
}

#contact-cards {
	padding: 0px;
	margin-bottom: 32px;
}

.form-group > #message {
	min-width: 230px;
	min-height: 200px;
}

#footer {
    float: left;
    width: 100%;
}

.social-logo {
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.CompVis {
	background: linear-gradient(to bottom left, #c9e05c, #64a74a) !important;
}

.DeepLearning {
	background: linear-gradient(to bottom left, #cb6e35, #c45b2e) !important;
}

.DeployModel {
	background: linear-gradient(to bottom left, #2e2e2e,#0e0e0e) !important;
}

.OrangeBullet {
	float: none;
	border: 1px solid #fa4616;
	color: #fa4616;
	padding: 10px 15px;
	border-radius: 40px;
}

.OrangeBullet:hover {
	background: #fa4616;
	color: #FFFFFF;
}

/* LANGUAGE SELECT STYLES */
.Lang {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;
	height: auto;
}

.Lang > #LangTrigger {
	position: absolute;
	right: 15px;
	top: 17px;
	padding: 0px 7px;
	border: none;
	border-radius: 5px;
	background: #FFF;
	cursor: pointer;
	outline: none;
}

.Lang > #LangSelect {
	position: absolute;
	right: 10px;
	top: 60px;
	width: 170px;
	height: auto;
	border-radius: 5px;
	background: #FFF;
	padding: 10px;
	-webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.13);
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.13);
	display: none;
}

.LangOption {
	float: left;
	width: 100%;
	height: 53px;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.LangOption > p {
	float: left;
	width: 88px;
	height: 16px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 0px !important;
	font-size: 16px;
	color: #333;
}

.LangOption > small {
	float: left;
	display: none;
	height: 14px;
	font-size: 12px;
	line-height: 16px;
	margin-top: 1px;
	color: #777;
}

#LangSelect > a {
	display: block !important;
	line-height: 0px !important;
	height: 53px !important;
}

#LangSelect > a > .active {
	background-color: #DDD;
}

#LangSelect > a > .active > p {
	margin-top: 3px;
}

#LangSelect > a > .active > small {
	display: block;
}

.flag {
	float: left;
	width: 32px;
	height: 32px;
}

.LangOption > img {
	margin-right: 10px;
}

.ServiceFrame {
	float: left;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.ServiceFrame > .holder {
	width: auto;
	height: auto;
	min-width: 105px;
	max-width: 135px;
	margin-bottom: 16px;
	padding: 15px;
	background: none;
}

.ServiceFrame > .holder > img {
	width: 80px;
	height: 80px;
	float: left;
	user-select: none;
	pointer-events: none;
	margin-left: calc(50% - 40px);
}

.ServiceFrame > .holder > p {
	float: left;
	width: 100%;
	margin-top: 16px;
	text-align: center;
	font-size: 16px;
}

.before-cta {
	width: 100%;
	margin: 16px 0px;
	text-align: center;
	font-size: 15px;
}

/* - - - - - - - - - - - - */
/* CSS DO SLIDER - ACADEMY */
/* - - - - - - - - - - - - */
.slider {
	position: relative;
	width: 100vw;
	height: 530px;
	background: #000000; 
}

.slider .active {
	background-color: #FFF !important;
}

.counterDesk {
	position: absolute;
	width: 68px;
	height: auto;
	left: 0px;
	right: 0px;
	bottom: 15px;
	padding: 10px;
	background: rgba(110, 110, 110, 0.32);
	border-radius: 35px;
	margin: auto;
	z-index: 5;
}

.counterDesk .counter {
	outline: none;
	width: 10px;
	height: 10px;
	float: left;
	margin: 3px;
	padding: 0px;
	border: none;
	border-radius: 100%;
	background-color: rgba(30, 30, 30, 0.2);
	cursor: pointer;
}

.slider .image1, .slider .image2, .slider .image3 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 3;
	user-select: none;
	background-position: center;
	background-size: cover;
}

.slider .image2 {
	z-index: 2;
}

.slider .image3 {
	z-index: 1;
}

/* Define your images here! */
.image1 {
	background-image: url(../img/photos/coding-0.jpg);
}

.image2 {
	background-image: url(https://images.unsplash.com/photo-1534858451586-ed7af114f1fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f841935725641bac7421c22e8923cd50&auto=format&fit=crop&w=1050&q=80);
}

.image3 {
	background-image: url(https://static.pexels.com/photos/574071/pexels-photo-574071.jpeg);
}

.image1 .img-1 {
	position: absolute;
	width: 350px;
  	height: 120px;
	left: 13%;
	top: 170px;
}

footer {
	position: relative;
	float: left;
	width: 100%;
	height: 64px;
	background-color: #000;
}

footer > .wrapper {
	position: absolute;
	width: 1000px;
	height: 100%;
	left: 0px;
	right: 0px;
	margin: auto;
}

footer > .wrapper > img {
	float: left;
	width: auto;
	height: 60px;
	margin-top: 2px;
	margin-right: 20px;
	pointer-events: none;
}

footer > .wrapper > #credits {
	float: left;
	color: #FFF;
	margin-top: 21px;
	margin-bottom: 0px;
	font-size: 14px;
}

footer > .wrapper > .SocialWrapper {
	float: right;
	width: 128px;
	height: 100%;
}

footer > .wrapper > .SocialWrapper > a {
	cursor: pointer;
}

footer > .wrapper > .SocialWrapper > a > svg {
	float: right;
	width: 28px;
	height: 28px;
	margin-left: 10px;
	margin-top: 18px;
	fill: #FFF;
	transition: all 0.1s ease-in-out;
}

footer > .wrapper > .SocialWrapper > a:hover > svg {
	fill: rgb(241, 103, 11);
}

/* -------------------------------- */
@media screen and (min-width: 760px) {
	.nav-primary {
		margin-right: 30px;
	}
}

@media screen and (max-width: 991px) {
	.the-logo {
		position: absolute;
		left: calc(50% - 50px);
	}

	.ServiceFrame {
		width: auto;
		max-width: 680px;
		justify-content: flex-start;
		flex-wrap: wrap;	
	}

	footer {
		height: 210px;
	}

	footer > .wrapper {
		width: 95%;
		margin: 0px 2.5%;
	}

	footer > .wrapper > img {
		float: left;
		width: 80px;
		height: auto;
		margin: 0px calc(50% - 40px);
	}
	
	footer > .wrapper > #credits {
		width: 100%;
		margin-top: 16px;
		font-size: 14px;
		text-align: center;
	}
	
	footer > .wrapper > .SocialWrapper {
		height: 64px;
		margin: 10px calc(50% - 64px);
	}
	
	footer > .wrapper > .SocialWrapper > a {
		cursor: pointer;
	}
	
	footer > .wrapper > .SocialWrapper > a > svg {
		width: 32px;
		height: 32px;
	}
}