.the-logo {
	width: 100px;
	height: 50px;
	margin-top: 8px;
}

#LangBar {
	position: relative;
	width: 83px !important;
}

#LangBar > ul {
	width: 100%;
}

#contact-cards {
	padding: 0px;
	margin-bottom: 32px;
}

.form-group > #message {
	min-width: 230px;
	min-height: 200px;
}

#footer {
    float: left;
    width: 100%;
}

.social-logo {
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.CompVis {
	background: linear-gradient(to bottom left, #c9e05c, #64a74a) !important;
}

.DeepLearning {
	background: linear-gradient(to bottom left, #cb6e35, #c45b2e) !important;
}

.DeployModel {
	background: linear-gradient(to bottom left, #2e2e2e,#0e0e0e) !important;
}

.OrangeBullet {
	float: none;
	border: 1px solid #fa4616;
	color: #fa4616;
	padding: 10px 15px;
	border-radius: 40px;
}

.OrangeBullet:hover {
	background: #fa4616;
	color: #FFFFFF;
}

@media screen and (max-width: 990px) {
	.the-logo {
		position: absolute;
		left: calc(50% - 50px);
	}
}