.the-logo {
	width: 100px;
	height: 50px;
	margin-top: 8px;
}

#footer {
    float: left;
    width: 100%;
}

.social-logo {
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.CompVis {
	background: linear-gradient(to bottom left, #c9e05c, #64a74a) !important;
}

.DeepLearning {
	background: linear-gradient(to bottom left, #cb6e35, #c45b2e) !important;
}

.DeployModel {
	background: linear-gradient(to bottom left, #2e2e2e,#0e0e0e) !important;
}

@media screen and (max-width: 990px) {
	.the-logo {
		position: absolute;
		left: calc(50% - 50px);
	}
}